<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.main.dao.EmployeeDAO">

	<select id="getEmployeeList" resultType="map" parameterType="map">
		SELECT *
		FROM employee
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="name != null and name != '' ">AND name = #{name}</if>
			<if test="work_dept != null and work_dept != '' ">AND work_dept = #{work_dept}</if>
			<if test="position != null and position != '' ">AND position = #{position}</if>
		</trim>
	</select>
	
	<select id="getEmployeeDetail" resultType="map" parameterType="long">
		SELECT *
		FROM employee
		WHERE idx = #{empIdx}
	</select>
	
	
	
	<insert id="registEmployee" parameterType="java.util.Map">
		INSERT INTO employee(name, employee_no, work_dept, position, address, state, phone_no, sex, area, job, email, picture, home_no, office_no)
		VALUES (
				#{name_r, jdbcType=VARCHAR}, 
				#{employeeNo_r, jdbcType=VARCHAR}, 
				#{workDept_r, jdbcType=VARCHAR}, 
				#{position_r, jdbcType=VARCHAR}, 
				#{address_r, jdbcType=VARCHAR}, 
				#{state_r, jdbcType=VARCHAR}, 
				#{phoneNo_r, jdbcType=VARCHAR}, 
				#{sex_r, jdbcType=VARCHAR},
				#{area_r, jdbcType=VARCHAR}, 
				#{job_r, jdbcType=VARCHAR}, 
				#{email_r, jdbcType=VARCHAR}, 
				#{picture_r, jdbcType=VARCHAR}, 
				#{homeNo_r, jdbcType=VARCHAR}, 
				#{officeNo_r, jdbcType=VARCHAR}
				<!--  #{hireDate_r, jdbcType=TIMESTAMP}, 
				#{birthDate_r, jdbcType=TIMESTAMP} -->
				)
	</insert>
	
	<update id="modifyEmployee" parameterType="java.util.Map">
	UPDATE employee
	<trim prefix="SET" suffixOverrides=",">
		<if test="name != nul and name= '' ">name = #{name, jdbcType=VARCHAR},</if>
		<if test="employeeNo != null and employeeNo = '' ">employee_no = #{employeeNo, jdbcType=VARCHAR},</if>
		<if test="workDept != null and workDept = '' ">work_dept = #{workDept, jdbcType=VARCHAR},</if>
		<if test="position != null and position = '' ">position = #{position, jdbcType=VARCHAR},</if>
		<if test="address != null and address = '' ">address = #{address, jdbcType=VARCHAR},</if>
		<if test="state != null and state = '' ">state = #{state, jdbcType=VARCHAR},</if>
		<if test="phoneNo != null and phoneNo= '' ">phone_no = #{phoneNo, jdbcType=VARCHAR},</if>
		<if test="sex != null and sex =  '' ">sex = #{sex, jdbcType=VARCHAR},</if>
		<if test="area != null and area = '' ">area = #{area, jdbcType=VARCHAR},</if>
		<if test="job != null and job = '' ">job = #{job, jdbcType=VARCHAR},</if>
		<if test="email != null and email = '' ">email = #{email, jdbcType=VARCHAR},</if>
		<if test="picture != null and picture = '' ">picture = #{picture, jdbcType=VARCHAR},</if>
		<if test="homeNo != null and homeNo= '' ">home_no = #{homeNo, jdbcType=VARCHAR},</if>
		<if test="officeNo != null and officeNo = '' ">office_no = #{officeNo, jdbcType=VARCHAR},</if>
	</trim>
	WHERE employee_no  = #{empIdx}
	</update>
</mapper>